:root{--cet-theme-primary-teal:#012831;--cet-theme-primary-teal-dark:#011014;--cet-theme-teal-400:#003e4d;--cet-theme-teal-300:#016a74;--cet-theme-gold-main:#8c6a3b;--cet-theme-gold-400:#d4b47c;--cet-theme-gold-300:#e2c99a;--cet-theme-gold-200:#f2ede4;--cet-theme-gold-100:#faf8f4;--cet-theme-neutral-800:#1f2937;--cet-theme-neutral-700:#374151;--cet-theme-neutral-500:#6b7280;--cet-theme-neutral-400:#9ca3af;--cet-theme-neutral-300:#d1d5db;--cet-theme-neutral-100:#f3f4f6;--cet-theme-neutral-50:#f9fafb;--cet-theme-black:#222222;--cet-theme-white:#ffffff;--cet-theme-error:#dc2626;--cet-theme-success:#247f46;--cet-theme-warning:#f59e0b;--cet-theme-info:#0ea5e9;}

.editor-styles-wrapper .has-gold-main-background-color {
  color: var(--cet-theme-white);
}

.editor-styles-wrapper .has-gold-main-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-gold-400-background-color {
  color: var(--cet-theme-black);
}

.editor-styles-wrapper .has-gold-400-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-gold-300-background-color {
  color: var(--cet-theme-black);
}

.editor-styles-wrapper .has-gold-300-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-gold-200-background-color {
  color: var(--cet-theme-black);
}

.editor-styles-wrapper .has-gold-200-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-gold-100-background-color {
  color: var(--cet-theme-black);
}

.editor-styles-wrapper .has-gold-100-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-primary-teal-background-color {
  color: var(--cet-theme-white);
}

.editor-styles-wrapper .has-primary-teal-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-teal-400-background-color {
  color: var(--cet-theme-white);
}

.editor-styles-wrapper .has-teal-400-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-teal-300-background-color {
  color: var(--cet-theme-white);
}

.editor-styles-wrapper .has-teal-300-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-neutral-800-background-color {
  color: var(--cet-theme-white);
}

.editor-styles-wrapper .has-neutral-800-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-neutral-700-background-color {
  color: var(--cet-theme-white);
}

.editor-styles-wrapper .has-neutral-700-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-neutral-500-background-color {
  color: var(--cet-theme-white);
}

.editor-styles-wrapper .has-neutral-500-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-neutral-400-background-color {
  color: var(--cet-theme-black);
}

.editor-styles-wrapper .has-neutral-400-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-neutral-300-background-color {
  color: var(--cet-theme-black);
}

.editor-styles-wrapper .has-neutral-300-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-neutral-100-background-color {
  color: var(--cet-theme-black);
}

.editor-styles-wrapper .has-neutral-100-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-neutral-50-background-color {
  color: var(--cet-theme-black);
}

.editor-styles-wrapper .has-neutral-50-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-black-background-color {
  color: var(--cet-theme-white);
}

.editor-styles-wrapper .has-black-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-white-background-color {
  color: var(--cet-theme-black);
}

.editor-styles-wrapper .has-white-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-error-background-color {
  color: var(--cet-theme-white);
}

.editor-styles-wrapper .has-error-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-success-background-color {
  color: var(--cet-theme-white);
}

.editor-styles-wrapper .has-success-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-warning-background-color {
  color: var(--cet-theme-black);
}

.editor-styles-wrapper .has-warning-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}

.editor-styles-wrapper .has-info-background-color {
  color: var(--cet-theme-black);
}

.editor-styles-wrapper .has-info-background-color :where(h1, h2, h3, h4, h5, h6, p, li, a):not(.has-text-color) {
  color: inherit;
}
