@use "../../../abstracts/variables/colors";

@mixin buttons_shared() {
  .wp-block-button {
    .wp-block-button__link {
      --button-color: #{colors.$white};
      --button-background: var(--primary-color, #{colors.$primary});
      --button-border-color: var(--primary-color, #{colors.$primary});

      color: var(--button-color);
      background: var(--button-background);
      border: 1px solid var(--button-border-color);
    }

    &.is-style-secondary {
      .wp-block-button__link {
        --button-color: #{colors.$charcoal};
        --button-background: var(--secondary-color, #{colors.$secondary});
        --button-border-color: var(--secondary-color, #{colors.$secondary});
      }
    }

    &.is-style-outline {
      .wp-block-button__link {
        --button-color: var(--primary-color, #{colors.$primary});
        --button-background: transparent;
        --button-border-color: var(--primary-color, #{colors.$primary});
      }
    }

    &.is-style-ghost {
      .wp-block-button__link {
        --button-color: #{colors.$white};
        --button-background: #{rgba(colors.$white, 0.24)};
        --button-border-color: #{rgba(colors.$white, 0.40)};
      }
    }

    &.is-style-text {
      .wp-block-button__link {
        --button-color: var(--primary-color, #{colors.$primary});
        --button-background: transparent;
        --button-border-color: transparent;
      }
    }
  }
}