@use "../../../abstracts/variables/breakpoints";

@mixin event_details_shared() {

    font-family: var(--main-font,'Verdana');

    &.wp-block-group {
        margin-bottom: 24px;
        margin-top: 24px;
        flex-wrap: wrap;
        border-radius: 24px;
        border: 1px solid #E0E0E0;
        padding: 20px 24px;

        @include breakpoints.tablet {
            padding: 24px;
        }

        @include breakpoints.laptop {
            padding: 48px;
        }

        @include breakpoints.desktop {
            border: none;
            padding: 0;
        }

    }
    // Image block
    .wp-block-image {

        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 225px;
        overflow: hidden;
        border-radius: 24px;
        

        @include breakpoints.laptop {
            height: 265px;
        }
        // Desktop
        @include breakpoints.desktop {
            width: 400px;
            min-width: 400px;
            min-height: 400px;

        }

        img {
            border-radius: 0;
            border: none;
            height: 100%;
        }

    }
    :where(.wp-block-image) {
        :where(img) {
            position: absolute;
            inset: 0;
            object-fit: cover;
            height: 100%
        }
    }

    // Event Descriptions
    .wp-block-group {
        gap: 12px;
        
        @include breakpoints.desktop {
            flex-basis: 60%;
            margin-left: 24px;
        }

        > * {
            margin: 0;
            padding: 0;
        }

        // Dates
        &.wp-block-group-is-layout-flex > .tribe-events-schedule {
            margin: 0;
            .tribe-events-schedule__datetime {
                font-size: 14px;
                font-family: inherit;
                font-weight: 400;
                
                > * {
                    font-size: inherit;
                    font-family: inherit;
                }
            } 
        }
        
        // Price and Description
        .tribe-block__event-price {

            display: flex;
            flex-direction: column-reverse;
            align-items: start;
            gap: 8px;

            > * {
                font-size: inherit;
            }
            
            > .tribe-block__event-price__cost {
                &::before {
                    content: "Price:";
                    font-weight: 700;
                }
            }
             
            > .tribe-block__event-price__description {
                &::before {
                    content: "Event Description:";
                    margin-bottom: 8px;
                    font-weight: 700;
                    display: block;
                    font-size: 16px;

                    
                }
                margin-left: 0;
                font-size: 14px;
            }

        }



        //Organization details
        .tribe-block__organizer__details {
            > * {
                font-size: 14px;
                font-family: var(--main-font);
            }
        }
    }
}