@use "../../abstracts/variables/colors";
@use "../../abstracts/variables/typography";

body {
	--main-font: #{typography.$font__main};
	background: colors.$color__background-body; // Fallback for when there is no custom background color defined.
	font-family: var(--main-font, 'Verdana'), sans-serif;
	overflow-x: hidden;

	&.no-scroll {
		overflow: hidden;
		overscroll-behavior: contain;
	}
}
