/*
 * Heading Typography
 *
 * Reserved for heading typography styles.
 * Real heading tokens/styles will be added in the Typography ticket.
 */

@use "../../abstracts/variables/breakpoints";

@layer typography {

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        color: var(--cet-theme-color-text);
        font-family: var(--cet-theme-font-heading);
        line-height: var(--cet-theme-heading-line-height);
    }

    h1,
    .h1 {
        font-size: var(--cet-theme-heading-font-size-h1-mobile);
        font-weight: var(--cet-theme-font-weight-regular);
        letter-spacing: var(--cet-theme-heading-h1-letter-spacing);

        @include breakpoints.tablet {
            font-size: var(--cet-theme-heading-font-size-h1-tablet);
        }

        @include breakpoints.desktop {
            font-size: var(--cet-theme-heading-font-size-h1-desktop);
        }
    }

    h2,
    .h2 {
        font-size: var(--cet-theme-heading-font-size-h2-mobile);
        font-weight: var(--cet-theme-font-weight-regular);
        letter-spacing: var(--cet-theme-heading-h2-letter-spacing);

        @include breakpoints.tablet {
            font-size: var(--cet-theme-heading-font-size-h2-tablet);
        }

        @include breakpoints.desktop {
            font-size: var(--cet-theme-heading-font-size-h2-desktop);
        }
    }

    h3,
    .h3 {
        font-size: var(--cet-theme-heading-font-size-h3-mobile);
        font-weight: var(--cet-theme-font-weight-regular);
        letter-spacing: var(--cet-theme-heading-h3-letter-spacing);

        @include breakpoints.tablet {
            font-size: var(--cet-theme-heading-font-size-h3-tablet);
        }

        @include breakpoints.desktop {
            font-size: var(--cet-theme-heading-font-size-h3-desktop);
        }
    }

    h4,
    .h4 {
        font-size: var(--cet-theme-heading-font-size-h4-mobile);
        font-weight: var(--cet-theme-font-weight-regular);
        letter-spacing: var(--cet-theme-heading-h4-letter-spacing);

        @include breakpoints.tablet {
            font-size: var(--cet-theme-heading-font-size-h4-tablet);
        }
    }

    h5,
    .h5 {
        font-size: var(--cet-theme-heading-font-size-h5-mobile);
        font-weight: var(--cet-theme-font-weight-bold);
        letter-spacing: var(--cet-theme-heading-h5-letter-spacing);

        @include breakpoints.tablet {
            font-size: var(--cet-theme-heading-font-size-h5-tablet);
        }
    }

    h6,
    .h6 {
        font-size: var(--cet-theme-heading-font-size-h6-mobile);
        font-weight: var(--cet-theme-font-weight-bold);
        letter-spacing: var(--cet-theme-heading-h6-letter-spacing);


        @include breakpoints.tablet {
            font-size: var(--cet-theme-heading-font-size-h6-tablet);
        }
    }
}
