/*
 * Base Link Styles
 *
 * Shared link styling contract.
 * Wrapped in the 'typography' layer.
 */

@layer typography {
	a {
		color: var(--cet-theme-link-color, var(--cet-theme-color-secondary));
		font-weight: var(--cet-theme-link-font-weight, 600);
		letter-spacing: var(--cet-theme-link-letter-spacing, normal);
		text-decoration: var(--cet-theme-link-text-decoration, underline);
		transition: var(--cet-theme-link-transition-property, border-bottom) var(--cet-theme-link-transition-time, 0.5s) var(--cet-theme-link-transition-type, ease);

		@media (hover: hover) {

			&:hover,
			&:focus,
			&:active {
				border-bottom-color: var(--cet-theme-link-outline-color-active, var(--cet-theme-color-secondary));
				color: var(--cet-theme-link-color-active, var(--cet-theme-link-color, var(--cet-theme-color-secondary)));
			}

			&:focus {
				outline: thin dotted;
			}

			&:hover,
			&:active {
				outline: 0;
			}
		}
	}
}