// Typography Artifacts
// This file is a generation source only for theme.json.
// Do not import into normal CSS output.

$artifact-typography: (
  font-sizes: (
    (
      name: 'S',
      slug: 'small',
      size: 'var(--cet-theme-font-size-s)'
    ),
    (
      name: 'M',
      slug: 'medium',
      size: 'var(--cet-theme-font-size-m)'
    ),
    (
      name: 'L',
      slug: 'large',
      size: 'var(--cet-theme-font-size-l)'
    ),
    (
      name: 'H6',
      slug: 'h6',
      size: 'var(--cet-theme-font-size-l)'
    ),
    (
      name: 'H5',
      slug: 'h5',
      size: 'var(--cet-theme-heading-font-size-h5-tablet)'
    ),
    (
      name: 'H4',
      slug: 'h4',
      size: 'var(--cet-theme-heading-font-size-h4-tablet)'
    ),
    (
      name: 'H3',
      slug: 'h3',
      size: 'var(--cet-theme-heading-font-size-h3-tablet)'
    ),
    (
      name: 'H2',
      slug: 'h2',
      size: 'var(--cet-theme-heading-font-size-h2-tablet)'
    ),
    (
      name: 'H1',
      slug: 'h1',
      size: 'var(--cet-theme-heading-font-size-h1-tablet)'
    )
  ),
  font-families: (
    (
      name: 'Primary',
      slug: 'primary',
      font-family: '"Urbanist", sans-serif'
    ),
    (
      name: 'Secondary',
      slug: 'secondary',
      font-family: '"Libre Baskerville", serif'
    )
  )
);
