@use "../../abstracts/variables/colors";
@use "../../abstracts/variables/breakpoints";

.site-footer {
  background-color: colors.$black;
  color: #{colors.$white};

  form {
    --input-text-color: #{colors.$white};
    --input-placeholder-color: #{colors.$white};
    --input-border-color: #{rgba(colors.$white, 0.4)};
    --input-background-color: #{rgba(colors.$white, 0.24)};
    --lavel-text-color: #{colors.$white};
  }

  .menu {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      color: #{colors.$white};
    }
  }

  .footer-main {
    font-size: 14px;

    .footer-title {
      font-size: 16px;
    }

    .footer-content {
      .footer-branding {
        .logo-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          p {
            font-size: 12px;
          }
        }
      }

      .subscription-form {
        padding: 24px;
        background-color: rgba(79, 79, 79, 0.16);
        border-radius: 24px;
        font-size: 12px;

        label {
          font-size: 10px;
        }

        input[type=checkbox] {
          display: none;

          & ~ label {
            position: relative;
            padding-inline-start: 24px;

            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              display: inline-block;
              width: 12px;
              height: 12px;
              border: 2px solid #{colors.$white};
            }

            &:after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='12px' viewBox='0 -960 960 960' width='12px' fill='%23ffffff'%3E%3Cpath d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/%3E%3C/svg%3E");
              position: absolute;
              top: 0;
              left: 0;
              display: none;
            }
          }

          &:checked {
            & ~ label {
              &:after {
                display: block;
              }
            }
          }
        }
      }
    }

    .footer-info {
      .footer-menu {
        .menu-item {
          margin-block-end: 16px;

          &:last-child {
            margin-block-end: 0;
          }

          a {
            text-decoration: none;
          }
        }
      }

      .footer-contacts {
        .widget_block {
          margin-bottom: 0;

          p {
            margin-bottom: 16px;
          }

          a {
            color: inherit;
          }
        }
      }

      .wp-block-social-links {
        .wp-social-link-facebook {
          background-color: transparent;
          a {
            display: block;
            width: 24px;
            height: 24px;
            padding: 0;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 440 146.7 540.8 258.2 568.5L258.2 398.2L205.4 398.2L205.4 320L258.2 320L258.2 286.3C258.2 199.2 297.6 158.8 383.2 158.8C399.4 158.8 427.4 162 438.9 165.2L438.9 236C432.9 235.4 422.4 235 409.3 235C367.3 235 351.1 250.9 351.1 292.2L351.1 320L434.7 320L420.3 398.2L351 398.2L351 574.1C477.8 558.8 576 450.9 576 320z' fill='%23ffffff'/%3E%3C/svg%3E");
            background-size: 120%;
            background-position: center;

            svg {
              display: none;
            }
          }
        }
      }
    }
  }

  .footer-legal {
    font-size: 12px;
    .menu {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    @include breakpoints.tablet {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      border-top: 1px solid #{rgba(colors.$white, 0.24)}
    }

    @include breakpoints.laptop {
      font-size: 14px;

      .copyright {
        font-size: 16px;
      }
    }
  }
}

#coming-soon-footer-banner {
  z-index: 0;
}

.before-footer-widgets {
  .wp-block-image {
    img {
      width: 100%;
    }

    &:not(.is-style-rounded) {
      img {
        border-radius: 0;
      }
    }
  }
}