@use "../../abstracts/variables/colors";
@use "../../abstracts/variables/breakpoints";

#wpadminbar {
  position: fixed;
}

.site {
  position: relative;
}

.site-header {
  --header-background-color: #{rgba(colors.$black, 0.54)};
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--header-background-color, rgba(0, 0, 0, 0.54));
  z-index: 100;
  transition: background-color 0.3s ease-in-out;

  &.sticky {
    position: fixed;
    top: var(--admin-bar-height, 0);
  }

  &.sticky.scrolled {
    --header-background-color: #{rgba(colors.$black, 1)};
  }

  .header-social-bar{
    display: none;

    @include breakpoints.cinema {
      padding-block: 10px;
      display: flex;
      align-items: center;
      background: rgba(0, 0, 0, 0.32);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);

      &__inner{
        display: flex;
        justify-content: flex-end;

        .header-social-menu--desktop{
          display: flex;
          gap: 1rem;
          align-items: center;
          margin: 0;
          padding: 0;

          .menu-item{
            list-style: none;

            a, svg{
              color: #{colors.$color__background-body};
              width: 20px;
              height: auto;
            }
          }
        }
      }
    }
  }

  .header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    padding-block: 14px;

    @media (min-width: 1400px) {
      padding-inline: 0;
    }

    .material-symbols-outlined {
      font-size: 32px;
      color: #{colors.$white};
    }

    .site-branding {
      img {
        width: auto;
        height: 48px;

        @include breakpoints.tablet {
          height: 60px;
        }
      }
    }

    .header-search-form {
      position: relative;
      display: none;
      margin-inline-start: auto;
      flex-wrap: nowrap;
      --input-text-color: #{colors.$white};
      --input-placeholder-color: #{colors.$white};
      --input-border-color: #{rgba(colors.$white, 0.4)};
      --input-background-color: #{rgba(colors.$white, 0.24)};
      --lavel-text-color: #{colors.$white};

      &.is-collapsed {
        .search-field {
          width: 0;
          opacity: 0;
          padding: 0;
          margin: 0;
          border: 0;
          pointer-events: none;
        }
      }

      .search-field {
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        width: 130px;
        opacity: 1;
        pointer-events: auto;

        &:focus {
          outline: none;
        }
      }

      .search-submit {
        padding: 0;
        display: flex;
        align-items: center;
      }

      @include breakpoints.tablet {
        display: flex;
      }
    }

    .book-button {
      display: none;
      margin: 0;
      text-decoration: none;

      @include breakpoints.tablet {
        display: block;
      }
    }

    .header-cart {
      position: relative;
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-inline-start: auto;

      .cart-count {
        position: absolute;
        top: 0;
        left: 50%;
        margin-inline-start: -7px;
        width: 14px;
        height: 14px;
        color: #{colors.$white};
        font-size: 10px;
        font-weight: 500;
        text-align: center;
        background-color: var(--primary-color, #{colors.$primary});
        border-radius: 50%;

        &.is-empty {
          display: none;
        }
      }

      @include breakpoints.tablet {
        margin-inline-start: 0;
      }
    }

    @include breakpoints.cinema {
      .site-branding {
        order: 1;
      }

      .main-navigation {
        order: 2;
      }

      .header-search-form {
        order: 3;
      }

      .header-cart {
        order: 4;
      }

      .book-button {
        order: 5;
      }
    }
  }
}