@use "sass:map";
@use "../../abstracts/variables/colors";
@use "../../abstracts/variables/breakpoints";

.main-navigation {
	align-items: center;

	.navigation-container {
		position: fixed;
		top: calc(var(--admin-bar-height) + 76px);
		bottom: 0;
		left: 100%;
		width: 100%;
		background-color: #{colors.$white};
		transition: left 1s;

		.menu-top {
			justify-content: space-between;

			p {
				margin-block-end: 0;
				color: #{colors.$primary};
			}

			button {
				display: none;
				align-items: center;
				gap: 8px;
				padding: 0;
				margin: 0;
				color: #{colors.$primary};
				font-size: 16px;
				font-weight: 400;

				.material-symbols-outlined {
					color: #{colors.$primary};
					font-size: 28px;
				}
			}
		}

		.mobile-social-wrap{
			padding-block: 1rem;

			.header-social-menu--mobile{
				display: flex;
				gap: 1rem;
				align-items: center;
				justify-content: center;
				margin-top: 1rem;
				padding: 0;

				.menu-item{
					list-style: none;

					a, svg{
						color: black;
					}
				}
			}
		}

		@include breakpoints.tablet {
			top: calc(var(--admin-bar-height) + 88px);
		}

		@include breakpoints.cinema {
			position: static;
			width: auto;
			background-color: transparent;
		}
	}

	.menu {
		list-style: none;
		padding-inline: 20px;
		margin: 0;
		padding-left: 0;
		width: 100%;
		background-color: #{map.get(colors.$blue, 100)};
		border-radius: 24px;

		.menu-item {
			padding: 16px 0 16px 24px;
			border-bottom: 1px solid rgba(112, 112, 112, 0.24);

			&:last-child {
				border-bottom: 0;
			}

			a {
				display: block;
				text-decoration: none;
				color: #{colors.$black};
				font-size: 16px;
				font-weight: 500;
				font-family: var(--header-font), sans-serif;

				&:hover, &:focus {
					text-decoration: underline;
				}
			}

			&:focus {
				outline: none;
				a {
					text-decoration: underline;
				}
			}

			&.menu-item-has-children {
				& > a {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;

					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23000000'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
						transition: transform .4s ease-in-out;
						transform: rotate(270deg) translateY(12px);
					}

					&:focus {
						outline: none;
					}
				}

				&.open { //for submenus
					position: relative;
					display: block;
					border-bottom: 0;

					& > a {
						display: none;
					}

					@include breakpoints.cinema {
						& > a {
							display: flex;

							&:after {
								transform: rotate(180deg);
							}
						}
					}

					& > .sub-menu {
						display: block;
						visibility: visible;
						min-width: 270px;
						margin: 0;
						padding: 0;
						list-style: none;

						.menu-item {
							padding: 12px 20px;
							font-weight: 500;

							&:hover {
								background-color: rgba(237, 241, 246, 0.24);
							}

							&.open { //for subsubmenus
								& > .sub-menu {
									position: relative;
									display: block;
									visibility: visible;
								}

								&:hover, .menu-item {
									background-color: transparent;
								}
							}
						}

						@include breakpoints.cinema {
							position: absolute;
							top: calc(100% + 14px);
							left: 0;
							background-color: var(--header-background-color, rgba(0, 0, 0, 0.85));

							.menu-item {
								&:hover {
									background-color: rgba(237, 241, 246, 0.24);
								}

								.sub-menu {
									background-color: transparent;
								}
							}
						}
					}
				}
			}

			&.hidden {
				display: none;
			}
		}

		.sub-menu {
			display: none;
		}

		@include breakpoints.cinema {
			display: flex;
			background-color: transparent;

			.menu-item {
				display: flex;
				align-items: center;
				border-bottom: 0;
				padding: 16px;

				a {
					color: #{colors.$white};
				}

				&.menu-item-has-children {
					& > a {
						&:after {
							content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23ffffff'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
							transform: rotate(0deg) translateY(5px);
							transform-origin: 50% 12px;
						}
					}
				}
			}
		}
	}

	.menu-icon-close {
		display: none;
	}

	&.toggled {         //for mobile main menu
		.navigation-container {
			left: 0;
		}

		.menu-toggle {
			.menu-icon-close {
				display: block;
			}

			.menu-icon-open {
				display: none;
			}
		}
	}

	.menu-toggle {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;

		@include breakpoints.cinema {
			display: none;
		}
	}
}
