.wp-block-jetpack-contact-info {
	.wp-block-jetpack-address,
	.wp-block-jetpack-phone,
	.wp-block-jetpack-email {
		padding-left: 18px;
		position: relative;
		margin-bottom: 10px;

		&:before {
			font-family: dashicons;
			display: block;
			content: "";
			font-size: 15px;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.wp-block-jetpack-address {
		&:before {
			content: "\f102";
		}
	}
    .wp-block-jetpack-phone {
		&:before {
			content: "\f525";
			transform: rotate(90deg);
		}
	}
    .wp-block-jetpack-email {
		&:before {
			content: "\f465";
			top: 0.1em;
		}
	}
}