
.apps {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;

    & > .download {
        position: relative;
        margin-bottom: 0;
        padding: 5px;
        color: var( --wp--preset--color--footer-headings );
        font-weight: 500;
    }

    & > * {
        padding: 5px 7px;
    }

    .play-store,
    .app-store {
        img {
            height: 50px;
        }
    }

    @media only screen and (min-width: 996px) {
        flex-direction: row;
        margin: 0 auto;

        & > * {
            &:last-child {
                margin-right: -7px;
            }
        }
    }

    &-icons {
        background-color: var(--wp--preset--color--footer-widget);
    }
}