.wp-block-cover.is-style-full-height {
	min-height: calc(100vh - 41px - 56px);

	.wp-block-site-logo {
		margin-inline-start: 25px;
		margin-block-start: 50px;

		@media only screen and (max-width: 768px) {
			display: flex;
			justify-content: center;
			margin-inline-start: 0;
			margin-block-start: 0;
		}
		.custom-logo-link {
			display: flex;
			aspect-ratio: 1/1;
			width: 250px;
			height: 250px;
			padding: 7px 0 0;
			border-radius: 50%;
			background-color: rgba(255,255,255, 0.7);
			justify-content: center;
			align-items: flex-start;
			align-content: flex-start;
			transition: background-color 400ms;

			img {
				width: 100%;
				border-radius: 0;
			}
		}
	}

	&:hover,
	&:focus-within {
		.wp-block-site-logo .custom-logo-link {
			background-color: #fff;
		}
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 12px;
		background-color: rgba(62, 67, 68, 0.7);
		z-index: 2;
		min-height: auto;
	}

	&::after {
		top: auto;
		bottom: 0;
	}
}
