.ghostkit-button,
.wp-block-button__link,
.widget_eu_cookie_law_widget #eu-cookie-law input {
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border-width: 1px;
	border-style: solid;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

	color: $brand-button-color;
	border-color: $brand-button-border;
	background-color: $brand-button;

	&:hover,
	&:focus {
		outline: none;
		border-width: 1px;
		border-style: solid;
		color: $brand-button-hover-color;
		border-color: $brand-button-hover-border;
		background-color: $brand-button-hover;
		font-size: 1rem;
		padding: .375rem .75rem;
	}

	&:focus-visible {
		outline: 3px solid black;
		outline-offset: 3px;
	}

}

.webres-member-login {
	.wp-block-button,
	.wp-block-button__link {
		width: 100%;
	}

	.wp-block-button__link {
		border-radius: 0;
	}
}
