.wp-block-table {
	thead {
		th, td {
			background: $brand-button;
			color: $brand-button-color;
			padding: 0.75rem;
			vertical-align: bottom;
			border-top: 1px solid #dee2e6;
			border-bottom: 2px solid #dee2e6;
			font-weight: 700;
		}
	}

	tr {
		border: 0;
	}

	td, th {
		padding: 0.75rem;
		vertical-align: top;
		border-top: 1px solid #dee2e6;
	}

	th {
		font-weight: 700;
	}

	tbody tr:nth-of-type(odd) {
		background-color: rgba(0,0,0,.05);
	}

	&.is-style-stripes {
		td, th {
			min-width: 88px;
			word-break: break-word;
		}
	}
}