.ghostkit-accordion .ghostkit-accordion-item[class] {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	padding: 0;
	border-radius: 0;

	.ghostkit-accordion-item-heading {
		@extend h4;

		padding: 0.75rem 1.25rem;
		padding-right: var(--gkt-accordion--heading-collapse-icon__width);
		margin-bottom: 0;
		background-color: rgba(0,0,0,.03);
		border-bottom: 1px solid rgba(0,0,0,.125);

		&:hover,
		&:focus {
			color: $brand-link-hover;
		}
	}

	&.ghostkit-accordion-item-active .ghostkit-accordion-item-heading {
		background-color: $brand-button;
		color: $brand-button-color;

		&:hover,
		&:focus {
			background-color: $brand-button-hover;
			color: $brand-button-hover-color;
		}
	}
	
	.ghostkit-accordion-item-content {
		padding: 1.25rem;

		h2 {
			@extend h3;
		}

		> *:last-child {
			margin-bottom: 0 !important;
		}
	}
}
