@import "bootstrap/scss/functions";

$prefix: 'wp--preset--';

$dropdown-padding-y: 0;
$dropdown-border-radius: 0;
$dropdown-inner-border-radius: 0;
$dropdown-border-color: rgba(0, 0, 0, .2);

$navbar-light-toggler-border-color: var( --#{$prefix}color--brand-primary );
$navbar-toggler-border-radius: 0;

$dropdown-font-size: 16px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 961px,
  xl: 1200px,
  xxl: 1400px
);


@import "bootstrap/scss/variables";

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// 6. Optionally include any other parts as needed
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/transitions";

.site-header {
	background-color: $header-bg-color;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color: $brand-header-color;
	font-family: $font-primary;
	font-weight: 600;
	padding: 0.5rem 1rem;
	position: relative;
	z-index: 20;
	transition: height 300ms;

	.title-area {
		display: none;
	}

	.navbar-toggler {
		margin-left: auto;
		--#{$prefix}border-width: 3px;
	}
	
	@media (min-width: 960px) {
		top: -1px !important;
		clear: both;

		&.isSticky {
			background-color: rgba(44,62,80, 0.9);
			height: auto;

			.title-area {
				display: none;
			}

			.nav-primary {
				float: none;
				clear: both;
				width: 100%;

				.wrap > ul {
					background-color: transparent;
					width: 100%;
					max-width: 1140px;
					margin: 0 auto;
					display: flex;
					justify-content: space-between;

					> li > a {
						height: auto;
						line-height: 1.2;
						padding-top: 8px;
						padding-bottom: 8px;
						font-size: 15px;
					}

					li:hover:after, 
					li:focus-within:after,
					li.current-menu-item:after,
					li.current-menu-parent:after {
						display: none;
						color: #fff;
					}
				}
			}
		}
	}
	
	a {
		color: $brand-header-color;
		font-size: 13px;
		text-decoration: none;
		display: inline-block;
		padding: 10px 0 10px 5px;

		&:focus {
			position: relative;
			z-index: 1;
		}

		@media only screen and (min-width: 960px) {
			padding: initial;
		}
	}

	ul {
		margin-left: 10px;
		margin-right: 10px;


		@media only screen and (min-width: 960px) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	button.sub-menu-toggle {
		padding: 0;
		border: 0;
		background-color: transparent;
		position: relative;
		top: 3px;

		&:hover,
		&:focus {
			background-color: transparent;
		}
	}

	.nav-primary {

		li a {
			color: $brand-header-color;
			font-size: 16px;
			padding: 12px;
		}

		li:after {
			height: 0;
			background-color: transparent;
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			top: 0;
			transition: height 0.3s ease-in-out;
		}

		li li:after {
			display: none;
		}
		
		li.current-menu-item,
		li.current-menu-parent {
			a {
				color: $brand-header-color;
			}

		}

		li:hover,
		li:focus-within {

			a {
				color: $header-link-hover;
			}
		}

		.sub-menu[class] {
			li {
				a {
					color: $header-submenu-item;
					background-color: #ffffff;
		
					&:hover,
					&:focus {
						background-color: #f5f5f5;
						color: #010101;
					}
				}
			}
		}

		@media (max-width: 960px) {
			.sub-menu-toggle {
				display: inline-block;
				visibility: visible;
			}

			li {
				background-color: white;
				a {
					font-size: 15px;
					line-height: 18px;
					width: 100%;
				}

				.sub-menu[class] {

					li a {
						background: transparent;
						font-size: 15px;

						&:hover,
						&:focus {
							background: transparent;
						}
					}

					& .sub-menu {
						border: 0;
						border-top: 4px solid rgba(0, 0, 0, 0.2);
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
		}
	}
}

.sub-menu {
	background-color: $header-white;
	li {
		a {
			color: $header-submenu-item;
			width: 100%;
		}
	}

	&.dropdown-menu > .menu-item {
		display: block;

		.dropdown-item {
			font-weight: 700;
		}
		
		&:not(:last-child) {
			border-bottom: var(--#{$prefix}dropdown-border-width) solid var(--#{$prefix}dropdown-border-color);
		}
	}
}

.wp-custom-logo .title-area {
	min-width: 232px;

	p.site-title,
	p.site-description {
		display: none;
	}
}

.sub-menu-toggle::before {
	color: $header-dropdown-arrow;
}

.site-container .custom-logo-link {
	padding-left: 15px;
	padding-right: 15px;
}

.menu li.menu-item ul.sub-menu li a {
	padding: 10px 12px 10px 12px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    font-size: 16px;
    position: relative;
	background-color: inherit;

	@media only screen and (min-width: 960px) {
		background-color: $header-dropdown-arrow;
	}
}

.dashicons-menu {
	color: $header-link;
}

h1.site-title {
	display: none;
}

nav.genesis-responsive-menu {
	position: relative;
	clear: both;
	min-width: 100%;

	@media only screen and (min-width: 960px) {
		margin-top: 0;
		clear: none;
		min-width: 0;
	}

	a:hover {
		background-color: transparent;
	}
}


@media only screen and (min-width: 960px) {
	.js .nav-primary {
		padding-top: 0 !important;
		padding-bottom: 0;
	}

	.site-header > .wrap {
		display: flex;
		justify-content: space-between;
		max-width: 100%;
	}

	.current-menu-item > a {
		color: $header-link-hover;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.genesis-nav-menu .menu-item {
		position: relative;
	}

	.genesis-nav-menu {
		display: block;
		visibility: visible;
		max-height: 200px;
	}
}

button.menu-toggle {
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	margin-left: 20px;
	padding: 4px 5px;
	color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.1);
	background-color: #fff;

	&.dashicons-before.dashicons-menu {
		float: none;
	}

	&:hover,
	&:focus {
		background-color: rgba(0, 0, 0, 0.3);
		color: #fff;
	}

	&:before {
		color: black;
	}
}


.site-header > .wrap {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;

	&:before,
	&:after {
		display: none;
	}

	body.home & {
		justify-content: flex-end;

		@media screen and (min-width: 960px) {
			justify-content: center;
		}
	}
}

.sunstone-pre-header {
	background-color: $brand-pre-header;
	border-bottom: 1px solid $brand-pre-header-border;
	color: $brand-pre-header-color;
	overflow: hidden;

	.wrap {
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}
}

.genesis-nav-menu {
	transition: max-height 0.35s ease-out;
	max-height: fit-content;
	width: 100%;

	@media screen and (max-width: 960px) {
		padding-bottom: 25px;
	}

	&.activated {
		max-height: 500px;
		transition: max-height 0.35s ease-in;
	}

	@media screen and (min-width: 960px) {
		visibility: visible;
	}
}

// Fix Genesis handling of the toggle state.
@media (max-width: 960px) {
	.site-header {
		.menu-toggle {
			+ .genesis-responsive-menu {
				display: block !important;
				transition: all 500ms;

				@media (prefers-reduced-motion) {
					transition: opacity 500ms;
				}
			}
		}
	}
}

body:not(.logo-hidden) {
	.site-header .wrap {
		display: flex;
		max-width: 1140px;

		.title-area {
			display: block;
		}

		.title-area img {
			max-height: 50px;
			width: auto;
		}
	}

	button.menu-toggle {
		float: right;
	}

	@media only screen and (min-width: 960px) {
		.nav-primary {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			float: none;
			min-width: 0;
		}

		.site-header > .wrap {
			justify-content: space-between;
		}
	}
}

body.logo-hidden {
	@media only screen and (min-width: 960px) {
		.nav-primary {
			justify-content: center;
		}
	}
}

.row-break {
	display: block;
	min-width: 100%;

	@media screen and (min-width: 960px) {
		display: none !important;
	}	
}

@media (min-width: 960px) {
	.sub-menu-toggle {
		display: inline-block !important;
		visibility: visible !important;
	}
}
