.wp-block-media-text {
	margin-bottom: 1rem;
}

.wp-block-media-text.has-media-on-the-right {
	.wp-block-media-text__content {
		padding-left: 0;
	}
}

.wp-block-media-text.is-style-drawer {
	display: flex;
	flex-direction: column;
	height: 100%;

	.wp-block-media-text__media {
		transition: all 400ms;
		margin-left: 0px;
		position: relative;
		margin-bottom: 0;
		box-shadow: -10px 0 6px -6px rgba(0,0,0, .4);

		@media (min-width: 768px) {
			img {
				width: 100%;
				height: 450px;
				object-fit: cover;
				object-position: top left;
			}
		}
	}

	@media (min-width: 768px) {
		&:hover,
		&:focus-within {
			.wp-block-media-text__media {
				margin-left: -150px;
			}
		}
	}

	.wp-block-media-text__content {
		padding: 15px;
		flex-grow: 1;
		text-align: center;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h2 {
			@extend h3;
		}

		.ghostkit-button-wrapper-inner,
		.wp-block-button {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-left: 0;
		}

		.ghostkit-button,
		.wp-block-button__link {
			width: 80%;
			margin-left: 0;
		}
	}
}

@media (max-width: 600px) {
	.wp-block-media-text .wp-block-media-text__content {
		padding: 0;
	}
}