//pallet is legacy class name

// Background color
.has-indigo-palette-black-background-color, 
.has-indigo-pallet-black-color {
    background-color: black;
}

.has-indigo-palette-white-background-color,
.has-indigo-pallet-white-color {
    background-color: white;
}

.has-indigo-palette-primary-color-background-color,
.has-indigo-pallet-primary-color-background-color {
    background-color: var(--primary-color, black);
}

.has-indigo-palette-secondary-color-background-color, 
.has-indigo-pallet-secondary-color-background-color {
    background-color: var(--secondary-color, white);
}

// Text Color
.has-indigo-palette-black-color {
    color: black;
}

.has-indigo-palette-white-color {
    color: white;
}

.has-indigo-palette-primary-color-color {
    color: var(--primary-color, black);
}

.has-indigo-palette-secondary-color-color {
    color: var(--secondary-color, white);
}