@use "../../abstracts/variables/colors";
@use "./shared/color-background.shared" as color_background;
@use "../../abstracts/variables/breakpoints";

:where(.wp-block-group.is-style-color-background) {
   @include color_background.color_background_shared();
   .ghostkit-col {
      .ghostkit-col-content {
         p {
            font-size: 20px;
            @include breakpoints.mobile { 
               font-size: 14px;
            }
         }
         .wp-block-buttons > .wp-block-button {
            min-width: 200px;
            @include breakpoints.mobile { 
               width: 100%;
            }
         }
      }
   }
}