@use "../../abstracts/variables/breakpoints";
@use "../../abstracts/mixins";

:is(.cet-block.cet-block-type-contact-form, .cet-entity-contact-form) {
  gap: 1.5rem 2.5rem;

  iframe {
    width: 100%;
    max-height: 20rem;
  }

  :is(.cet-block-part-type-column, .cet-part-column):last-child {
    @include mixins.container;
  }

  @include breakpoints.tablet {
    @include mixins.container;

    margin-block-end: var(--cet-theme-block-section-vertical-spacing);
    padding-inline: 0;

    iframe {
      max-height: unset;
    }

    :is(.cet-block-part-type-column, .cet-part-column):last-child {
      padding-inline: 0;
    }
  }

  //Ghostkid
  .ghostkit-grid-inner {
    margin: 0;
    gap: inherit;

    :is(.cet-block-part-type-column, .cet-part-column) {
      margin: 0;
      max-width: 100%;
      flex-basis: 100%;

      @include breakpoints.tablet {
        flex-basis: 0;
        flex-grow: 1;
        width: auto;
      }
    }
  }
}
