.hero-slider.wp-block-group {
  max-width: none;

  .wp-block-cover-image, .wp-block-cover {
    padding: 0;
    margin-inline: 0;
  }

  ul.slick-dots {
    display: block;
    bottom: calc(0 - var(--cet-theme-spacing-lg));

    li {
      width: auto;
      padding: 0;
    }

    button {
      width: 16px;
      height: 6px;
      margin: 0 4px;
      border-radius: 2px;
      background: var(--cet-theme-neutral-300);
    }

    .slick-active button {
      width: 48px;
      background: var(--cet-theme-gold-main);
      transition: width 0.5s;
    }
  }

  button.slick-arrow {
    display: none !important;
  }
}
