@use "headings";
@use "copy";
@use "../../abstracts/variables/colors";
@use "../../abstracts/variables/typography";

body,
label,
input,
select,
optgroup,
textarea {
	color: colors.$black;
	font-family: typography.$font__main;
	font-size: 1rem;
	line-height: typography.$font__line-height-body;
}
