@use "../../abstracts/variables/colors";
@use "../../abstracts/mixins/buttons";

.wc-block-checkout__main {

    .wc-block-checkout__actions_row {
        flex-direction: column;


        .wc-block-components-checkout-return-to-cart-button,
        .wc-block-components-checkout-place-order-button.wc-block-components-button {
            @include buttons.button;
            width: 100%;
            flex-basis: 100%;
        } 

        .wc-block-components-checkout-return-to-cart-button {
            &:focus {
                box-shadow: 0 0 0 2px #0675c4;
                outline: 3px solid transparent;
            }
            border: 1px solid var(--wp-secondary, #{colors.$secondary});
             margin-bottom: 10px;

            > svg {
                display: none;
            } 
            
        }

        .wc-block-components-checkout-place-order-button.wc-block-components-button {
            background-color: var(--primary-color, #{colors.$primary});
            color: white;

            .wc-block-components-checkout-place-order-button__text {
                justify-content: center;
            }
        }
    }
}