@use "../../abstracts/variables/breakpoints";
@use "../../abstracts/mixins/buttons" as buttons;

.error-404 {
    &__content {
        padding-block-start: 126px;
        padding-block-end: 50px;

        @include breakpoints.tablet {
            padding-block-start: 138px;
        }

        h1.page-title {
            margin-top: 0;
        }

        .page-content {
            .search-form {
                label {
                    margin-bottom: 24px;
                }

                .search-submit {
                    width: 100%;
                    padding-inline: 48px;
                    padding-block: 8px;
                    @include buttons.button-primary;

                    @include breakpoints.tablet {
                        width: auto;
                    }
                }
            }
        }
    }
}