@use "sass:map";
@use "../../abstracts/variables/colors";
@use "../../abstracts/variables/breakpoints";
@use "../../abstracts/mixins/buttons";

// Events Ticket Plugin styling override

// Todo: Move this logic to a shared with _calendar line 46 for consisten hero image
.tribe-events-pg-template {
    .tribe-events-before-html{
      position: relative;
      padding-block: 140px 85px;
      margin-block-end: 40px;
      color: #{colors.$white};
      font-size: 14px;
      text-align: center;
      width: 100vw;
      left: 50%;
      margin-left: -50vw;
      background-color: rgba(0,0,0,0.4);

      h1{
        font-weight: 700;
        margin-block-end: 16px;
      	font-size: 20px;

        // Todo: Create h1 mixin, got from /base/typography/_headings.scss. Need stronger specificity
        @include breakpoints.tablet {
          font-size: 24px;
        }

        @include breakpoints.laptop {
          font-size: 40px;
        }

        @include breakpoints.desktop {
          font-size: 48px;
        }
      }

      img {
        position: absolute;
        width: 100vw;
        max-width: 100vw;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 50%;
        margin-left: -50vw;
        z-index: -1;
      }

      @include breakpoints.tablet {
        padding-block: 190px 125px;
        font-size: 16px;
      }

      @include breakpoints.laptop {
        padding-block: 200px 125px;
        font-size: 18px;
      }

      @include breakpoints.desktop {
        padding-block: 245px 145px;
        font-size: 20px;
      }
    }
}

// Todo: is this even used? Yes haha
.event-tickets {
    $font-family: var(--main-font,'Verdana');
    --tec-font-family-sans-serif: $font-family;
    --tec-color-text-secondary: #{map.get(colors.$grey, 500)};
    .tribe-tickets__tickets-form {
        //flex box active _fields.scss
        flex-direction: column;
        padding: 0;
        margin: auto;
        max-width: 100%;

         > * {
            padding: 1rem;
         }

         .tribe-tickets__tickets-title {
            background-color: #0001;
            width: 100%;
            margin-bottom: 0;
            font-family: inherit;
            font-weight: 700;
            font-size: 24px;
         }

        .tribe-formatted-currency-wrap {
          font-size: 20px;
          font-weight: 500;
        }

        .tribe-tickets__tickets-item-quantity {
          color: var(--primary-color);

          .tribe-tickets__tickets-item-quantity-remove,
          .tribe-tickets__tickets-item-quantity-add {
            height: 30px;
            width: 30px;
            margin-bottom: 0;
            padding-bottom: 2px;
            padding-left: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--primary-color);
            border-radius: 20px;
            color: var(--primary-color);

            &:disabled {
              border-color: #{map.get(colors.$grey, 300)};
              color: #{map.get(colors.$grey, 300)};
            }
          }
        }

        .tribe-tickets__tickets-footer {
          .tribe-tickets__tickets-buy {
            border-radius: 20px;
            background-color: var(--primary-color);
            color: white;
          }
        }
    }

    // Checkout Modal
    .tribe-dialog {
        .tribe-tickets__form {

          .tribe-amount,.tribe-currency-symbol {
            font-weight: 500;
          }

            flex-direction: column;
            .tribe-tickets__tickets-item-quantity-remove,
            .tribe-tickets__tickets-item-quantity-add {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #bababa;
                border-radius: 15px;
                width: 1.5rem;
                height: 1.5rem;
            }

            // Change color to use colors
            .tribe-tickets__tickets-footer-quantity > span,
            .tribe-tickets__tickets-footer-total-label {
                color: map.get(colors.$grey, 500);
                font-weight: 400;
            }

            .tribe-tickets__attendee-tickets-form {
              .tribe-tickets__attendee-tickets-item {
                background-color: #f9f9f9;
                > * {
                  display: flex;
                  flex-direction: column;

                }

                label {
                  flex: 0 0 max-content;
                }

                input {
                  border-radius: 20px;
                }
              }
              .tribe-tickets__attendee-tickets-footer {

                button {
                  padding: 6px 12px;
                }

                .tribe-tickets__attendee-tickets-footer-divider {
                  display: none;
                }

                .tribe-tickets__attendee-tickets-footer-cart-button  {
                  border: 1px solid var(--primary-color);
                  border-radius: 20px;
                  color: var(--primary-color);
                  background-color: white;
                  margin-right: 24px;
                }

                .tribe-tickets__attendee-tickets-footer-checkout-button {
                  border-radius: 20px;
                  background-color: var(--primary-color);
                }
              }
            }

        }
    }

    

}