@use "../../abstracts/mixins/buttons";

.woocommerce {
  .woocommerce-breadcrumb,
  #secondary.widget-area,
  h1.woocommerce-products-header__title,
  .page-description {
    display:none;
  }

  &.single-product .product, &.woocommerce-shop .content-area {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-inline: calc(var(--bs-gutter-x) * .5);
    margin-inline: auto;

    @media (min-width: 576px) {
      max-width: 540px;
    }

    @media (min-width: 768px) {
      max-width: 720px;
    }

    @media (min-width: 992px) {
      max-width: 970px;
    }

    @media (min-width: 1200px) {
      max-width: 1140px;
    }

    @media (min-width: 1400px) {
      max-width: 1320px;
    }

    .summary.entry-summary .button.single_add_to_cart_button {
      @include buttons.button;
      @include buttons.button-primary;
    }

    .input-text.qty {
      padding-block: 12px;
    }
  }
}
