.single-tribe_events {
  #tribe-events-pg-template {
    --tec-spacer-8: 0px;
    padding: 0 20px 20px;
  }

  .hero {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  } 

  .tribe-events-event-image {
    display: none;
  }
}

.single-tribe_event_series .tribe-events {
  .tribe-events-before-html, .tribe-events-after-html {
    padding-block: 0;
    background-color: transparent;
  }

  .tribe-common-l-container.tribe-events-l-container{
    padding-block-start: 0;
  }
}