/*
 * Base Elements
 *
 * Minimal styling for HTML elements.
 * Wrapped in the 'base' layer.
 */

@layer base {
	body {
		color: var(--cet-theme-color-text);
		background-color: var(--cet-theme-color-background);
		font-family: var(--cet-theme-font-body);
	}

	ul,
	ol {
		margin: 0 0 var(--cet-theme-spacing-md);
		padding-inline-start: 1.5rem;
	}

	li>ul,
	li>ol {
		margin-bottom: 0;
	}

	blockquote {
		margin: 0 0 var(--cet-theme-spacing-md);
		padding-inline-start: var(--cet-theme-spacing-md);
	}

	pre {
		margin: 0 0 var(--cet-theme-spacing-md);
		overflow-x: auto;
		max-width: 100%;
	}

	code,
	kbd,
	samp,
	pre {
		font-family: monospace;
	}

	table {
		width: 100%;
		margin: 0 0 var(--cet-theme-spacing-md);
		border-collapse: collapse;
	}

	th,
	td {
		padding: var(--cet-theme-spacing-sm);
		text-align: left;
		border-bottom: 1px solid var(--cet-theme-color-border);
	}
}