@use "../../abstracts/variables/breakpoints";

.cet-search-form {
  display: grid;
  gap: var(--cet-theme-spacing-sm);

  @include breakpoints.tablet {
    grid-template-columns: minmax(0, 1fr) auto;
    align-items: end;
  }

  .cet-search-form__field {
    display: block;
  }

  .cet-search-form__input {
    display: block;
    width: 100%;
    padding: var(--cet-theme-spacing-sm);
    border: 1px solid var(--cet-theme-form-input-border-color);
    background-color: var(--cet-theme-white);
    font-size: var(--cet-theme-form-input-font-size);
    line-height: var(--cet-theme-form-input-line-height);
    letter-spacing: var(--cet-theme-form-input-letter-spacing);

    &::placeholder {
      color: var(--cet-theme-form-input-placeholder-color);
    }

    &:focus,
    &:focus-visible {
      outline: none;
      border-color: var(--cet-theme-form-focus-color);
    }
  }
  .cet-search-form__submit {
    justify-self: start;

    &:is(.cet-submit) {
      padding: var(--cet-theme-spacing-sm);
      line-height: var(--cet-theme-form-input-line-height);
    }
  }
}
