/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.entry-content .search-form {
	margin-bottom: 40px;
	width: 50%;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	margin-top: 10px;
	font-weight: 700;
	cursor: pointer;

	&:hover,
	&:focus {
		color: $brand-button-color;
		background-color: $brand-button;
	}
}

.error404 .search-form {
	position: relative;
	overflow: visible;
	margin-top: 40px;
}

.floating-label {
	position: absolute;
	z-index: -1;
	opacity: 0;
	color: #333;
	font-size: 18px;
	font-weight: 400;
	top: 16px;
	left: 15px;
	transition: all 300ms;

	@media (prefers-reduced-motion) {
		transition: opacity 300ms;
	}

	.search-form:has(.search-form-input:not(:placeholder-shown)) & {
		z-index: 1;
		opacity: 1;
		top: -25px;
		font-weight: 600;
	}
}

.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}
