@use "../../abstracts/variables/breakpoints";
@use "../../abstracts/mixins";

/**
 * Temporary styles for the first theme release.
 * Should be removed and replaced with more specific styles in the future when mockups will be provided
 */

.content-area {
	flex: 1;
}

.cet-woocommerce--default {
	.cet-wc-product-grid {
		.cet-wc-product-card {
			display: flex;
			flex-direction: column;
			background: var(--cet-theme-white);
			border: 0.5px solid var(--cet-theme-neutral-300);

			a:first-of-type {
				display: flex;
				align-items: center;
				justify-content: center;
				aspect-ratio: 343 / 150;
				padding: var(--cet-theme-spacing-xs);
				background: var(--cet-theme-white);

				@include breakpoints.tablet {
					aspect-ratio: 280 / 178;
				}

				img {
					display: block;
					width: 100%;
					object-fit: scale-down;
					aspect-ratio: 343 / 150;
				}
			}

			.cet-wc-product-card__button,
			.single_add_to_cart_button {
				text-align: center;
				margin-block-start: auto;
				border-radius: 0px;
				padding-block: calc(var(--cet-theme-spacing-unit) * 0.75);
				border: 1px solid var(--cet-theme-primary-teal);
				color: var(--cet-theme-primary-teal);
				font-weight: var(--cet-theme-font-weight-semi-bold);
				background: transparent;
				cursor: pointer;

				&:hover {
					border: 1px solid var(--cet-theme-gold-main);
					color: var(--cet-theme-white);
					background: var(--cet-theme-gold-main);
				}
			}
		}
	}

	&.cet-woocommerce--single {
		form.cart {
			button.single_add_to_cart_button {
				text-align: center;
				margin-block-start: auto;
				border-radius: 0px;
				padding-block: calc(var(--cet-theme-spacing-unit) * 0.75);
				border: 1px solid var(--cet-theme-primary-teal);
				color: var(--cet-theme-primary-teal) !important;
				font-weight: var(--cet-theme-font-weight-semi-bold);
				background: transparent !important;
				cursor: pointer;

				&:hover {
					border: 1px solid var(--cet-theme-gold-main);
					color: var(--cet-theme-white) !important;
					background: var(--cet-theme-gold-main) !important;
				}
			}

			.quantity input[type="number"] {
				border: 1px solid var(--cet-theme-primary-teal);
				color: var(--cet-theme-primary-teal) !important;
				padding-block: calc(var(--cet-theme-spacing-unit) * 0.48);
			}
		}

		.product {
			padding-top: 1rem;
		}

		.product_meta {
			display: flex;
			flex-direction: column;
			gap: var(--cet-theme-spacing-xs);
		}
	}
}

.woocommerce-breadcrumb {
	@include mixins.container();
}