/*
 * Site Header — Branding
 *
 * Logo container and logo link.
 */

@use "../../abstracts/variables/breakpoints";

@layer components {

	.site-branding {
		--cet-theme-site-branding-width: 76px;
		--cet-theme-site-branding-height: 60px;

		width: var(--cet-theme-site-branding-width);
		height: var(--cet-theme-site-branding-height);

		@include breakpoints.laptop {
			--cet-theme-site-branding-width: 170px;
			--cet-theme-site-branding-height: 80px;
		}

		img {
			--cet-theme-site-branding-img-object-fit: contain;
			--cet-theme-site-branding-img-width: 100%;
			--cet-theme-site-branding-img-height: 100%;

			width: var(--cet-theme-site-branding-img-width);
			height: var(--cet-theme-site-branding-img-height);
			object-fit: var(--cet-theme-site-branding-img-object-fit);
		}

		.custom-logo-link.is-compact img {
			filter: var(--cet-theme-logo-filter);
		}
	}

	.custom-logo-link {
		--cet-theme-custom-logo-link-display: inline-block;
		--cet-theme-custom-logo-link-width: 100%;
		--cet-theme-custom-logo-link-height: 100%;

		display: var(--cet-theme-custom-logo-link-display);
		width: var(--cet-theme-custom-logo-link-width);
		height: var(--cet-theme-custom-logo-link-height);
	}

	.has-sticky-header-offset {
		.site-branding {
			.custom-logo-link {
				img {
					filter: var(--cet-theme-logo-filter);
				}
			}
		}
	}
}
