/*
 * Site Header — Tertiary Navigation
 *
 * Drawer-style tertiary nav shown at laptop breakpoint.
 */

@use "../../abstracts/variables/breakpoints";

@layer components {

	.header-tertiary-nav {
		--cet-theme-burger-menu-width: 467px;
		--cet-theme-tertiary-nav-display: none;
		display: var(--cet-theme-tertiary-nav-display);

		@include breakpoints.laptop {
			--cet-theme-tertiary-nav-display: block;

			.site-header__burger {
				--cet-theme-burger-display: block;
			}
		}

		.site-header__container {
			--cet-theme-tertiary-nav-site-header-container-justify-content: flex-end;

			justify-content: var(--cet-theme-tertiary-nav-site-header-container-justify-content);
		}
	}
}
