/*
 * Site Header — Primary Navigation
 *
 * Desktop primary nav with multi-level dropdown support.
 */

@use "../../abstracts/variables/breakpoints";
@use "../../abstracts/functions" as *;

@layer components {

	.header-primary-nav {
		--cet-theme-primary-nav-display: none;

		--cet-theme-primary-nav-a-color: var(--cet-theme-white);
		--cet-theme-primary-nav-a-color-hover: var(--cet-theme-gold-main);
		--cet-theme-primary-nav-a-border-bottom: 1px solid var(--cet-theme-primary-nav-a-color-hover);
		--cet-theme-primary-nav-a-font-size: #{rem(12)};
		--cet-theme-primary-nav-a-display: block;
		--cet-theme-primary-nav-a-line-height: 1.1;
		--cet-theme-primary-nav-a-letter-spacing: 2px;
		--cet-theme-primary-nav-a-text-transform: uppercase;
		--cet-theme-link-text-decoration: none;
		--cet-theme-primary-nav-a-text-decoration: none;
		--cet-theme-primary-nav-a-transition: all 0.3s;
		--cet-theme-primary-nav-a-transform: translateY(-1px);
		--cet-theme-primary-nav-submenu-bg-color: var(--cet-theme-gold-100);
		--cet-theme-primary-nav-li-border: 0.2px solid var(--cet-theme-neutral-400);

		display: var(--cet-theme-primary-nav-display);

		@include breakpoints.laptop {
			--cet-theme-primary-nav-display: block;
		}

		a {
			color: var(--cet-theme-primary-nav-a-color);
			font-size: var(--cet-theme-primary-nav-a-font-size);
			display: var(--cet-theme-primary-nav-a-display);
			letter-spacing: var(--cet-theme-primary-nav-a-letter-spacing);
			line-height: var(--cet-theme-primary-nav-a-line-height);
			text-transform: var(--cet-theme-primary-nav-a-text-transform);
			text-decoration: var(--cet-theme-primary-nav-a-text-decoration);
			transition: var(--cet-theme-primary-nav-a-transition);
		}

		.sub-menu {
			--cet-theme-primary-nav-a-color: var(--cet-theme-black);
			--cet-theme-primary-nav-sub-menu-a-font-weight: var(--cet-theme-font-weight-medium);
			--cet-theme-primary-nav-sub-menu-display: none;
			--cet-theme-primary-nav-sub-menu-list-style: none;
			--cet-theme-primary-nav-sub-menu-padding: 0;
			--cet-theme-primary-nav-sub-menu-min-width: 220px;
			--cet-theme-primary-nav-sub-menu-white-space: nowrap;

			display: var(--cet-theme-primary-nav-sub-menu-display);
			background-color: var(--cet-theme-primary-nav-submenu-bg-color);
			list-style: var(--cet-theme-primary-nav-sub-menu-list-style);
			padding: var(--cet-theme-primary-nav-sub-menu-padding);
			min-width: var(--cet-theme-primary-nav-sub-menu-min-width);
			white-space: var(--cet-theme-primary-nav-sub-menu-white-space);

			a {
				font-weight: var(--cet-theme-primary-nav-sub-menu-a-font-weight);
			}
		}

		&__list {
			--cet-theme-primary-nav-list-list-style: none;
			--cet-theme-primary-nav-list-margin: 0;
			--cet-theme-primary-nav-list-padding: 0;
			--cet-theme-primary-nav-list-display: flex;
			--cet-theme-primary-nav-list-align-items: center;
			--cet-theme-primary-nav-list-gap: 24px;

			list-style: var(--cet-theme-primary-nav-list-list-style);
			margin: var(--cet-theme-primary-nav-list-margin);
			padding: var(--cet-theme-primary-nav-list-padding);
			display: var(--cet-theme-primary-nav-list-display);
			align-items: var(--cet-theme-primary-nav-list-align-items);
			gap: var(--cet-theme-primary-nav-list-gap);
		}

		.-root-level {
			--cet-theme-primary-nav-li-root-level-padding: 10px 0;
			padding: var(--cet-theme-primary-nav-li-root-level-padding);

			& > a {
				border-color: var(--cet-theme-primary-nav-a-color-hover);
			}

			& > a:hover {
				color: var(--cet-theme-primary-nav-a-color-hover);
				border-bottom: var(--cet-theme-primary-nav-a-border-bottom);
				transform: var(--cet-theme-primary-nav-a-transform);
			}
		}

		.-root-level.menu-item-has-children {
			--cet-theme-primary-nav-li-root-level-has-children-position: relative;
			--cet-theme-primary-nav-li-root-level-has-children-display: flex;
			--cet-theme-primary-nav-li-root-level-has-children-align-items: center;
			--cet-theme-primary-nav-li-root-level-has-children-gap: 5px;

			position: var(--cet-theme-primary-nav-li-root-level-has-children-position);
			display: var(--cet-theme-primary-nav-li-root-level-has-children-display);
			align-items: var(--cet-theme-primary-nav-li-root-level-has-children-align-items);
			gap: var(--cet-theme-primary-nav-li-root-level-has-children-gap);

			.sub-menu {
				a {
					// For smooth animation.
					// Since font-weight does not support transitions,
					// we use font-variation-settings to achieve a similar effect.
					--cet-theme-primary-nav-sub-menu-a-font-variation-settings: 'wght' 500;
					--cet-theme-primary-nav-sub-menu-a-after-font-variation-settings: 'wght' 600;
					--cet-theme-primary-nav-sub-menu-a-position: relative;

					--cet-theme-primary-nav-sub-menu-a-bg-color-hover: var(--cet-theme-gold-200);

					font-variation-settings: var(--cet-theme-primary-nav-sub-menu-a-font-variation-settings);
					position: var(--cet-theme-primary-nav-sub-menu-a-position);

					// The pseudo-element is used to create a duplicate of the menu item text,
					// to avoid layout shifts when changing font weight on hover (menu width)
					// TBD: alernative is using text-shadow: 0 0 0.4px currentColor;
					// to replace font-weight on hover with smooth animation.
					&::after {
						content: attr(data-text);
						display: block;
						font-variation-settings: var(--cet-theme-primary-nav-sub-menu-a-after-font-variation-settings);
						height: 0;
						overflow: hidden;
						visibility: hidden;
						pointer-events: none;
					}
				}

				a:hover {
					--cet-theme-primary-nav-sub-menu-a-font-variation-settings: 'wght' 600;
					--cet-theme-primary-nav-sub-menu-a-bg-color-hover: var(--cet-theme-gold-200);
					--cet-theme-primary-nav-sub-menu-a-color-hover: var(--cet-theme-gold-main);

					background-color: var(--cet-theme-primary-nav-sub-menu-a-bg-color-hover);
					color: var(--cet-theme-primary-nav-sub-menu-a-color-hover);
				}

				li {
					--cet-theme-primary-nav-sub-menu-li-border-bottom: var(--cet-theme-primary-nav-li-border);

					border-bottom: var(--cet-theme-primary-nav-sub-menu-li-border-bottom);
				}

				li:last-of-type {
					border-bottom: none;
				}
			}
		}

		.-root-level.menu-item-has-children:hover,
		.-root-level.menu-item-has-children.is-opened {
			& > .sub-menu {
				--cet-theme-primary-nav-li-root-level-has-children-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
				--cet-theme-primary-nav-li-root-level-has-children-position: absolute;
				--cet-theme-primary-nav-li-root-level-has-children-top: 30px;
				--cet-theme-primary-nav-li-root-level-has-children-left: 0;
				--cet-theme-primary-nav-sub-menu-max-height: calc(100vh - 80px);

				--cet-theme-primary-nav-sub-menu-display: block;
				box-shadow: var(--cet-theme-primary-nav-li-root-level-has-children-box-shadow);
				position: var(--cet-theme-primary-nav-li-root-level-has-children-position);
				top: var(--cet-theme-primary-nav-li-root-level-has-children-top);
				left: var(--cet-theme-primary-nav-li-root-level-has-children-left);
				z-index: var(--cet-theme-primary-nav-li-root-level-z-index, 1);
				max-height: var(--cet-theme-primary-nav-sub-menu-max-height);
				overflow-y: auto;
			}

			& > .submenu-toggle {
				.toggle-arrow {
					&::after {
						--cet-theme-primary-nav-submenu-toggle-arrow-after-border-color: var(--cet-theme-primary-nav-a-color-hover);
						--cet-theme-primary-nav-submenu-toggle-arrow-after-transform: translateY(-50%) rotate(223deg);
						--cet-theme-primary-nav-submenu-toggle-arrow-after-top: 50%;

						border-color: var(--cet-theme-primary-nav-submenu-toggle-arrow-after-border-color);
						transform: var(--cet-theme-primary-nav-submenu-toggle-arrow-after-transform);
						top: var(--cet-theme-primary-nav-submenu-toggle-arrow-after-top);
					}
				}
			}
		}

		.-root-level {
            & > .sub-menu {
                .-end-level,
                .-mid-level {
                    & > a {
						--cet-theme-primary-nav-sub-menu-a-padding-1st-level: 1.25rem 3rem 1.25rem 1.25rem;

                        padding: var(--cet-theme-primary-nav-sub-menu-a-padding-1st-level);
                    }
                }

                .-end-level:last-of-type {
                    border-bottom: none;
                }
            }

            & > .sub-menu {
                .-mid-level {
                    .-end-level {
                        & > a {
							--cet-theme-primary-nav-sub-menu-a-padding-2nd-level: 1.25rem 3rem 1.25rem 2.5rem;

                            padding: var(--cet-theme-primary-nav-sub-menu-a-padding-2nd-level);
                        }
                    }

                    li.-end-level:first-of-type {
                        border-top: var(--cet-theme-primary-nav-li-border);
                    }
                }
            }
        }

		.-mid-level.menu-item-has-children {
			--cet-theme-primary-nav-li-mid-level-has-children-position: relative;
			position: var(--cet-theme-primary-nav-li-mid-level-has-children-position);

			& > a {
				&::before {
					--cet-theme-primary-nav-mid-level-a-before-content: "";
					--cet-theme-primary-nav-mid-level-a-before-position: absolute;
					--cet-theme-primary-nav-mid-level-a-before-top: 50%;
					--cet-theme-primary-nav-mid-level-a-before-right: 1.25rem;
					--cet-theme-primary-nav-mid-level-a-before-transform: translateY(-50%) rotate(45deg);
					--cet-theme-primary-nav-mid-level-a-before-width: 8px;
					--cet-theme-primary-nav-mid-level-a-before-height: 8px;
					--cet-theme-primary-nav-mid-level-a-before-border: 1.5px solid currentColor;
					--cet-theme-primary-nav-mid-level-a-before-border-top: none;
					--cet-theme-primary-nav-mid-level-a-before-border-left: none;
					--cet-theme-primary-nav-mid-level-a-before-transition: all 0.3s;

					content: var(--cet-theme-primary-nav-mid-level-a-before-content);
					position: var(--cet-theme-primary-nav-mid-level-a-before-position);
					top: var(--cet-theme-primary-nav-mid-level-a-before-top);
					right: var(--cet-theme-primary-nav-mid-level-a-before-right);
					transform: var(--cet-theme-primary-nav-mid-level-a-before-transform);
					width: var(--cet-theme-primary-nav-mid-level-a-before-width);
					height: var(--cet-theme-primary-nav-mid-level-a-before-height);
					border: var(--cet-theme-primary-nav-mid-level-a-before-border);
					border-top: var(--cet-theme-primary-nav-mid-level-a-before-border-top);
					border-left: var(--cet-theme-primary-nav-mid-level-a-before-border-left);
					transition: var(--cet-theme-primary-nav-mid-level-a-before-transition);
				}
			}
		}

		.-mid-level.menu-item-has-children.is-opened {
			--cet-theme-primary-nav-li-mid-level-has-children-background-color: var(--cet-theme-gold-100);

            background-color: var(--cet-theme-primary-nav-li-mid-level-has-children-background-color);

            & > a {
				--cet-theme-primary-nav-li-mid-level-has-children-a-bg-color-hover: var(--cet-theme-gold-200);
				--cet-theme-primary-nav-li-mid-level-has-children-a-color-hover: var(--cet-theme-gold-main);

                background-color: var(--cet-theme-primary-nav-li-mid-level-has-children-a-bg-color-hover);
                color: var(--cet-theme-primary-nav-li-mid-level-has-children-a-color-hover);

				&::before {
					--cet-theme-primary-nav-mid-level-a-before-transform: translateY(-50%) rotate(223deg);
					--cet-theme-primary-nav-mid-level-a-before-border: 1.5px solid var(--cet-theme-primary-nav-a-color-hover);
					--cet-theme-primary-nav-mid-level-a-before-border-top: none;
					--cet-theme-primary-nav-mid-level-a-before-border-left: none;
				}
            }

			& > .sub-menu {
				--cet-theme-primary-nav-sub-menu-display: block;
			}
        }

	}
}
