@use "../shared/factoids.shared" as factoids;
@use "../shared/multi-column.shared" as multi_column;
@use "../shared/color-background.shared" as color_background;
@use "../shared/carousel.shared" as carousel;
@use "../shared/text-w-image.shared" as text_w_image;
@use '../shared/embed.shared' as embed;
@use "../shared/promotion.shared" as promotion;
@use "../shared/buttons.shared" as buttons;
@use "../shared/image-grid.shared" as image_grid;
@use "../shared/event-details.shared" as event-details;

//Hide sidebar settings
.block-editor__container {
  .interface-interface-skeleton__sidebar {
    .css-0 {
      .components-tools-panel {
        display: none;
      }
    }
  }
}


//Editor Block Styles
.editor-styles-wrapper {

  font-family: var(--header-font, -apple-system, system-ui, sans-serif);

  //Factoids
  .wp-block-group.is-style-factoids {
    @include factoids.factoids_shared();
    
    //Specific editor styles below
    .ghostkit-grid-inner {
      .nk-awb-overlay {
        border-radius: 24px;
      }
      .ghostkit-svg-icon {
        position: relative;
        margin: 0 auto;
      }
    }

      p {
        line-height: 1.4;
      }
  }

  //Multi Column
  .wp-block-group.is-style-multi-column {
    @include multi_column.multi_column_shared();

    //Specific editor styles below
    .ghostkit-col { 
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  //Color Background
  .wp-block-group.is-style-color-background {
    @include color_background.color_background_shared();
    //Specific editor styles below

  }
  //Embed Block sass
  @include embed.embed_shared();

  //Text With Image
   .wp-block-group.is-style-text-image, .wp-block-group.is-style-text-image-center  {
    @include text_w_image.text_w_image_shared();
    //Specific editor styles below

      .ghostkit-col:has([data-type="core/cover"]),
      .ghostkit-col:has([data-type="core/image"]) {
        background-color: transparent !important;
    }
  }

  .wp-block-group.is-style-text-image-center  { 

    //add padding when the column does NOT contain a Cover block */
    .ghostkit-col:not(:has([data-type="core/cover"])) {
        text-align: center;
        .wp-block-buttons {
          justify-content: center;
        }
    }
  }
  .wp-block-group.is-style-carousel {
    @include carousel.carousel_shared();
      .ghostkit-carousel-slide {
        background-color: transparent;
      }

  }

  // Promotion styles
  @include promotion.promotion_shared();

  //Buttons style
  @include buttons.buttons_shared();

  .wp-block-group.is-style-image-grid {
    @include image_grid.image_grid_shared();

  }
}

html :where(.wp-block)[data-align=left],
html :where(.wp-block)[data-align=right],
html :where(.wp-block)[data-align=center] {
  height: auto;

  & > * {
    float: none;
    margin-inline: auto;
    width: fit-content;
    max-width: 360px;
  }
}

html :where(.wp-block)[data-align=center] {
  & > * {
    width: auto;
  }
}

html :where(.wp-block)[data-align=left] {
  & > * {
    margin-inline-start: 0;
  }
}

html :where(.wp-block)[data-align=right] {
  & > * {
    margin-inline-end: 0;
  }
}

:where(.is-style-event-details) {
  @include event-details.event_details_shared();
}